<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navigation"></nav>

<body class="container-fluid text-left">
<div th:replace="fragments :: page_header"></div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>Women's</th>
            </tr>
            <br/>
            <tr th:each="weightclass : ${womens}">
                <td><a th:href="'/view/weightclass/'+ ${weightclass.id}" th:text="${weightclass.toString()}"></a></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>Men's</th>
            </tr>
            <br/>
            <tr th:each="weightclass : ${mens}">
                <td><a th:href="'/view/weightclass/'+ ${weightclass.id}" th:text="${weightclass.toString()}"></a></td>
            </tr>
        </table>
        <tfoot><a href="/view/totals">View all qualifying totals</a></tfoot>
    </div>
    <div class="col-sm-6"></div>
</div>


</body>
</html>