
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">View Data</h1>

<h2><a href="/view/totals" style="font-weight:bold">View all qualifying totals</a></h2>
<table>
    <tr>
        <th><h4>View data by weightclass</h4></th>
    </tr>
    <tr th:each="weightclass : ${weightclasses}">
        <td><a th:href="'/view/weightclass/'+ ${weightclass.id}" th:text="${weightclass.toString()}"></a></td>
    </tr>
</table>


</body>
</html>