<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navigation"></nav>

<body class="container-fluid text-left">
<div th:replace="fragments :: page_header"></div>

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>Weightclass</th>
        <th th:each="event:${events}" th:text="${event.toString()}"></th>
    </tr>
    <tr th:each="weightclass : ${weightclasses}">
        <td th:text="${weightclass.toString()}"><a href="/view/weightclass/${weightclass.id}"></a></td>
        <td th:each="event:${events}" th:text="${weightclass.getEventQualifyingTotalString(event)}"></td>
    </tr>
</table>

</body>
</html>