<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navigation"></nav>

<body class="container-fluid text-left">
<div th:replace="fragments :: page_header"></div>

<div class="row content">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th th:each="event:${events}" th:text="${event.toString()}"></th>
        <th>American Record</th>
        <th>World Record</th>
    </tr>

    <tr>
        <td th:each="event:${events}" th:text="${weightclass.getEventQualifyingTotal(event)}+'kg'"></td>
        <td th:text="${weightclass.getAmericanRecord()} + 'kg'"></td>
        <td th:text="${weightclass.getWorldRecord()} + 'kg'"></td>
    </tr>
</table>
    </div>
</div>


</body>
</html>