<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments :: head">
</head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="'Data for the ' + ${weightclass.toString()} + ' Weightclass'"></h1>

<table class="table">
    <tr>
        <th th:each="event:${events}" th:text="${event.toString()}"></th>
        <th>American Record</th>
        <th>World Record</th>
    </tr>

    <tr>
        <td th:each="event:${events}" th:text="${weightclass.getEventQualifyingTotal(event)}+'kg'"></td>
        <td th:text="${weightclass.getAmericanRecord()} + 'kg'"></td>
        <td th:text="${weightclass.getWorldRecord()} + 'kg'"></td>
    </tr>
</table>


</body>
</html>