<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
  </style>
</head>

// TODO: edit all HTML files to have consistent style and thoroughly utilize the 'boiler plate' fragments document.

<body>

<div class="container" th:fragment="page_header">
    <div class="page-header">
        <h1 th:text="${title}"></h1>
    </div>
    <br/>
</div>

<div th:fragment="conversion" class="well">
    <form>
        <div class="form-group">
        <label for="imperial">Pounds:</label>
        <input type="text" id="imperial" value="0" oninput="convertImp()" class="form-control"/>
        </div>
        <br/>
        <div class="form-group">
        <label for="metric">Kilograms:</label>
        <input type="text" id="metric" value="0" oninput="convertMet()" class="form-control"/>
        </div>
    </form>
</div>


<nav class="navbar navbar-inverse" th:fragment="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="font-weight:bold; color:white">Qualification Checker</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">View Data
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/view/totals">All Qualifying Totals</a></li>
                    <li><a href="/view">By individual Weightclass</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Edit Data
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/data/event">Add Event/Update Qualifying Totals</a></li>
                    <li><a href="/data/weightclass">Weightclasses</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
</body>

<script src="js/script.js"></script>
</html>