
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: data_navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<table class="table">
    <tr>
        <th>Weightclass</th>
        <th>Qualifying total</th>
    </tr>
    <tr th:each="weightlifter : ${weightlifters}">
        <td th:text="${weightlifter.toString()}"></td>
        <td th:text="${weightlifter.record}"></td>
    </tr>
</table>

<form method="post" th:object="${form}" style="width:600px;">
    <div class="form-group">
        <label th:for="weightlifterId">Weight class:</label>
        <select th:field="*{weightlifterId}">
            <option th:each="weightlifter : *{weightlifters}"
                    th:value="${weightlifter.id}"
                    th:text="${weightlifter.toString()}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="total">Qualifying total: </label>
        <input name="total" type="text"/>
    </div>

    <input type="submit" value="Update qualifying totals"/>

</form>

</body>
</html>