<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments :: head">
</head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<form method="post" th:object="${weightclass}" style="width:600px;">

    <div class="form-group">
        <label th:for="gender">Gender:</label>
        <select name="gender" th:field="*{gender}">
            <option th:value="f">Women's</option>
            <option th:value="m">Men's</option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="bodyweight">Weightclass: </label>
        <input class="form-control" th:field="*{bodyweight}" type="text"/>
    </div>

    <div class="form-group">
        <label th:for="AOseries">AOseries:</label>
        <input class="form-control" th:field="*{AOseries}" type="text"/>
    </div>

    <div class="form-group">
        <label th:for="AOfinals">AOfinals:</label>
        <input class="form-control" th:field="*{AOfinals}" type="text"/>
    </div>

    <div class="form-group">
        <label th:for="nationals">Nationals:</label>
        <input class="form-control" th:field="*{nationals}" type="text"/>
    </div>

    <input type="submit" value="Enter weightclass" />

</form>

</body>
</html>