<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
    <meta charset="UTF-8" />
</head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<form method="post" style="max-width:600px;">

    <div class="form-group">
        <label th:for="gender">Competition gender:</label>
        <select name="gender">
            <option th:value="f">Women's</option>
            <option th:value="m">Men's</option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="weightclass">Your weightclass: </label>
        <select name="weightclass">
            <option th:each="weightclass : ${weightclasses}"
                    th:text="${weightclass.bodyweight}"
                    th:value="${weightclass.id}"></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="userTotal">Your total: </label>
        <input class="form-control" type="text" name="userTotal" />
    </div>

    <input type="submit" value="Do I Qualify?" />

</form>

</body>
</html>