<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
    <meta charset="UTF-8" />
</head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

    <form method="post" th:object="${checkUserTotalForm}" style="width:600px;">

        <div class="form-group">
            <label th:for="weightlifterId">Weight class:</label>
            <select th:field="*{weightlifterId}">
                <option th:each="weightclass : ${weightlifters}"
                        th:value="${weightclass.id}"
                        th:text="${weightclass.toString()}"></option>
            </select>
        </div>

        <div class="form-group">
            <label th:for="userTotal">Your total: </label>
            <input class="form-control" th:field="*{userTotal}" type="text"/>
            <span th:errors="*{userTotal}" style="color: red; font-weight:bold"></span>
        </div>

        <input type="submit" value="Check if qualified"/>

    </form>


<br/>

</body>
</html>