<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
    <meta charset="UTF-8" />
</head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

    <form method="post" th:object="${form}" style="width:600px;">
        <div class="form-group">
            <label th:for="weightlifterId">Weight class:</label>
            <select th:field="*{weightlifterId}">
                <option th:each="weightlifter : ${weightlifters}"
                        th:value="${weightlifter.id}"
                        th:text="${weightlifter.toString()}"></option>
            </select>
        </div>
        <div class="form-group">
            <label th:field="*{userTotal}">Your total: </label>
            <input name="userTotal" type="text"/>
        </div>

        <input type="submit" value="Check if qualified"/>

    </form>

</body>

<br/>

<script>
document.write("Placeholder for learning and applying JavaScript to this webpage!");
</script>




</html>