<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
    <meta charset="UTF-8" />
</head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<form method="post" style="width:600px;">
    <div class="form-group">
        <label>Competition gender:</label>
        <select id="gender" name="gender" >
            <option value="women">Women's</option>
            <option value="men">Men's</option>
        </select>
    </div>
    <div class="form-group">
        <label>Weight class:</label>
        <select id="weightclass" name="weightclass"></select>
    </div>

    <div class="form-group">
        <label>Your total: </label>
        <input name="userTotal" type="text"/>
    </div>

    <input type="submit" value="Check if qualified"/>

</form>

<div id="main"></div>

</body>

<br/>

<script th:inline="javascript" src="js/script.js">

/*<![CDATA[*/
    var womens = /*[[${womens}]]*/;
    var mens = /*[[${mens}]]*/;
/*]]>*/

 var mainDiv = document.getElementById("main");
 for(Weightclass weightclass: womens); i++){
	 var t = document.createTextNode(weightclass.getBodyweight());
	 var p = document.createElement("P");
	 p.appendChild(t);
	 mainDiv.appendChild(p);
 }

</script>

</html>