<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
    <meta charset="UTF-8" />
</head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<h1 th:text="${title}">Default Title</h1>
<br/>
<form method="post" style="width:600px;">
    <div class="form-group">
        <label>Competition gender:</label>
        <select id="gender" name="gender" onchange="toggleGender()">
            <option value="women" selected="selected">Women's</option>
            <option value="men">Men's</option>
        </select>
    </div>

    <div class="form-group">
        <label>Weight class:</label>
        <select id="weightclass" required="required">
            <option></option>
            <option id="w" style="display:block" th:each="weightclass : ${womens}"
                    th:value="${weightclass.id}"
                    th:text="${weightclass.toString()}"></option>
            <option id="m" style="display:none" th:each="weightclass : ${mens}"
                    th:value="${weightclass.id}"
                    th:text="${weightclass.toString()}"></option>
        </select>
    </div>

    <div class="form-group">
        <label>Your total: </label>
        <input name="userTotal" type="text"/>
    </div>

    <input type="submit" value="Check if qualified"/>

</form>
</body>

<br/>

<script src="js/script.js"></script>
</html>